[Unit]
Description=DLNA/UPnP streaming server for PulseAudio
Requires=sound.target network.target dbus.service
After=sound.target network.target dbus.service

[Service]
ExecStart=/usr/bin/pulseaudio-dlna

[Install]
WantedBy=default.target
