[Unit]
Description=DLNA/UPnP streaming server for PulseAudio
After=sound.target network.target network-online.service dbus.service

[Service]
ExecStart=/usr/bin/pulseaudio-dlna

[Install]
WantedBy=default.target
